<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Movie Sound Track</title>

  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="static/css/landing-page.min.css" rel="stylesheet">
</head>

<body>

  <!-- Main Search -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1>Movie Sound Track</h1>
          <h3 class="mb-5">Search for movie recommendations based on any song</h3>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <!-- Basic Search -->
            <div class="form-row">
              <div class="col-md-9 col-xl-9 mx-auto" id="basic-search">
                <input class="form-control form-control-lg" id="input" list="songs" name="search" placeholder="Enter a Song Title">
                    <datalist id="songs">
                        {% for (title, artists) in song_list %}
                        <option value="{{title}} ({{artists}})">
                        {% endfor %}
                    </datalist>
              </div>
              <!-- Advanced Search -->
              <div class="py-3 advanced-search-button-wrapper">
                <div id="advanced-search-button" onclick="toggleAdvancedSearch()"><p class="font-weight-light">Advanced Search</p></div>
              </div>
              <div class="mb-3" id="advanced-search">
                <div class="col-md-9">
                    <label for="genreInput">Movie Release Year</label>
                    <input id="yearInput" type="text" class="form-control" placeholder="Year" name="year">
                </div>
                <div class="col-md-6">
                  <label for="rating">Movie Rating of at least</label>
                  <select class="custom-select d-block w-100" id="rating" name="rating">
                    <option value="">Choose...</option>
                    {% for i in range(11) %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Submit Query -->
              <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
            </div>
          </form>
        
        </div>
      </div>
    </div>
  </header>

  <!-- Search Results -->
  <section class="features-icons bg-light text-center">
    <div id="results" class="container">
      <h2>{{output_message}}</h2><br>
      {% for score,d in data %}
      <div class="row">
          <div class="col-lg-3 showcase-img ">
            <!-- Uncomment for movie poster -->
            <!-- <img class="img-fluid mb-3" src={{d.poster_url}} alt="" style="vertical-align:middle"> -->
            <img class="img-fluid mb-3" src="static\img\default_movie_poster.png" alt="" style="vertical-align:middle">
          </div>
          <div class="col-lg-9 my-auto showcase-text text-lg-left">
            <p class="lead mb-0"><b>{{d.name}}</b></p>
            <p>{{d.description}}</p>
            <p class="font-weight-light mb-0">Year Released: {{d.year}}</p>
            <p class="font-weight-light mb-0">Genres: {{d.genres|join(', ')}}</p>
            <p class="font-weight-light mb-0">Rating: {{d.rating}}</p>
            <p class="font-weight-light mb-0">Sim Score: {{score|round(5)}}</p>
          </div>         
      </div>
      <br>
      {% endfor %}
    </div>
  </section>


  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <p>Julie Barron (jcb468), Joe Fetter (jf638), Joe Fulgieri (jmf373), Nathalia Lie (nl356), Daniel Solinsky (dms539)</p>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Movie Sound Track</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="http://moviesoundtrack1.herokuapp.com/" target="_blank">
                <i class="fab icon-direction fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="http://moviesoundtrack2.herokuapp.com/" target="_blank">
                <i class="fab icon-directions fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/nl356/cs4300sp2020-jcb468_jf638_jmf373_nl356_dms539" target="_blank">
                <i class="fab fa-github fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Helper Functions Script  -->
  <script>
    function toggleAdvancedSearch() {
      currentAdvancedSearchDisplay = document.getElementById("advanced-search").style.display;
      if (currentAdvancedSearchDisplay === "flex") {
        document.getElementById("advanced-search").style.display = "none";
      } else {
        document.getElementById("advanced-search").style.display = "flex";
      }
    }
  </script>

</body>

</html>
