<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>By: {{ netid }}</p>
        </div>
        <form class="form-inline global-search">
            <h1>Movie Sound Track</h1>
            <br>
            <h2>Search for movie recommendations based on any song!</h2>
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Song Title">
            </div>
            <button type="submit" class="btn btn-info"> Search </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h2>{{output_message}}</h2><br>
            {% for d in data %}  
                <br>
                <p><b>{{d.name}}</b></p><br>
                <p>{{d.description}}</p><br>
                <p>Year Released: {{d.year}}</p><br>
                <p>Genres: {{d.genres}}</p><br>
                <p>Rating: {{d.rating}}</p><br>
                <br>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>